*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}





.top, .footer{
    background-color: #1f2937;
    color: white;
 
}

body{
    
    
    display: flex;
    flex-direction: column;
    margin: 0px;
    

    
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7vw;
    padding-right: 7vw;
    }
.left-logo{ 
    font-size: 24px;
    font-weight: 900;
    font-style: oblique;
    color: #3882f6;        
}

.right-links{
    list-style: none;
    display: flex;
    cursor: pointer;
}

.right-links li{
    padding-left: 5px;
    padding-right: 5px;
}

.intro{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    padding-bottom: 10px;
    max-width: 90vw;
}

.introtext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    max-width: 40vw;
    padding-left: 10px;
}
.introtext h3{
    flex-wrap: wrap;
    font-size: 30px;
}

.but1{
    flex-grow: 0;
    max-width: 80px;
}

.but1{
    color:white; 
    background-color: #3882f6;  
    border-radius: 5px; 
    
    font-weight: 700; 
    cursor: pointer;
    ; 
    
    
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rando{
    font-size: 36px;
    flex: 1;
}


.deck{
    display: flex;
    justify-content: space-around;
    border-color: #1f2937;
    ;
    gap: 20px;
    justify-content: center;
    flex: 1;
    align-items: left;
     
    
}

.deck img{
    width: auto;
    max-height: 100px;
    
}

.deck li{
    max-width: 20vw;
    text-align: center;
    list-style: none;
    
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    color: #1f2937;
     }

.quote p{
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
    font-style: oblique;
}

.quote h6{
    text-align: right;
    padding-right: 23vw;
}

.sign{
    display: flex;
    justify-content: space-around; 
    padding: 10px;
    background-color: #3882f6;
    border: #e5e7eb;
    
    align-self: center;
    border-radius: 10px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    max-width: fit-content;
    
}

.werds{
    display: flex; 
    flex-direction: column;
    color: white;
    
    max-width: 35vw;
    align-items: flex-start;
    
}

.see{
    font-size: larger;
    align-self: flex-start;
    justify-self: flex-start;
    padding: 0;
    margin: 5px;
    font-weight: 900;
}

.soul{
    align-self: center;
    font-size: smaller;
    justify-self: flex-start;
    
} 

.butund{
  align-self: center;
  justify-self: flex-end;
  background-color: #3882f6;
  color: white;  
  border-radius: 5px;  
  cursor: pointer;
  font-weight: 700;
}

.footer{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}